page-stamp-book {
    ion-card {
        padding: 8px;
        text-align: center;
        font-size: 16px;
    }
    ion-col {
        font-size: 16px;
    }
    .ranking {
        text-align: center;
        font-size: 24px;
    }
}
