<!--
  Generated template for the StampDialogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">閉じる</button>
    </ion-buttons>
    <ion-title>スタンプ詳細</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item text-center>
    <img [(src)]="stampImage" width="60%" />
  </ion-item>
  <button ion-button icon-start *ngIf="stampType === 'normal'" (click)="questionButtonOnClick()">
    <ion-icon name="help"></ion-icon>
    質問に答える
  </button>
  <button ion-button icon-start (click)="shareButtonOnClick()">
    <ion-icon name="share"></ion-icon>
    SNSでシェア
  </button>
  <button ion-button icon-start *ngIf="stampType === 'normal'" [disabled]="!likeButtonIsEnable" (click)="likeButtonOnClick()">
    <ion-icon name="heart"></ion-icon>いいね！
  </button>
  <ion-badge *ngIf="stampType === 'normal'">{{likeCount}}</ion-badge>
  <ion-item *ngIf="stampType === 'normal'">
    <ion-label>スタンプ番号</ion-label>
    <div item-content>{{stampNo}}</div>
  </ion-item>
  <ion-item>
    <ion-label>場所</ion-label>
    <div item-content>{{stampLocation}}</div>
  </ion-item>
  <ion-item>
    <ion-label>入手日</ion-label>
    <div item-content>{{stampGetDate}}</div>
  </ion-item>
  <ion-item *ngIf="stampType === 'bonus'">
    <ion-label>テキスト</ion-label>
    <div item-content>{{stampText}}</div>
  </ion-item>
  <button ion-button block (click)="dismiss()">閉じる</button>
</ion-content>
